.BarChartView {
    width: 100%;

    .custom-switch {
        margin-left: 15px;
    }

    .barChart {
        overflow: hidden;
        margin: 0 auto;
        min-width: 300px;
        max-width: 960px;
        min-height: 300px;
        max-height: 500px;
    }
}
